.theme-switcher {
    font-weight: bold;
    &:hover {
        cursor: pointer;
    }
    // i {
    //     background-size: contain;
    //     background-position: center center;
    //     background-repeat: no-repeat;
    //     width: 1.33em;
    //     height: 1.33em;
    // }
    .light-icon {
        color: $charcoal;
        // border: 2px solid $charcoal;
        display: inline-block;
        padding: 0.25rem 1rem;
    }
    .dark-icon {
        color: $burntSienna;
        // border: 2px solid $burntSienna;
        display: inline-block;
        padding: 0.25rem 1rem;
    }
    input:checked~.light-icon {
        display: none;
    }
    input~.dark-icon {
        display: none;
    }
    input:checked~.dark-icon {
        display: block;
    }
}