// Base Colors
$white: #fff;
$black: #000;
$gray: #f5f5f5;
// Theme Colors
$burntSienna: #E76F51;
$sandyBrown: #F4A261;
$orangeYellow: #E9C46A;
$persianGreen: #2A9D8F;
$charcoal: #264653;
// Transitions
$mainTransition: .3s linear all;