.dark {
    background-color: $charcoal;
    .action-bar {
        background-color: darken( $charcoal, 5%) !important;
    }
    .card-content,
    .card-footer,
    .button.is-white {
        background-color: lighten( $charcoal, 5%) !important;
        color: $white;
        &:focus,
        &:active {
            // border: none !important;
            box-shadow: none !important;
        }
        &:hover {
            color: lighten( $charcoal, 50%) !important;
        }
    }
    .card-footer {
        border-top-color: lighten( $charcoal, 1%) !important;
    }
    .footer p {
        color: $white;
    }
    .title {
        color: $white;
    }
    pre {
        background-color: transparent;
        padding: 0;
        color: $white;
    }
}